# FPC compiled artifacts
*.o
*.ppu
*.a
*.so
*.exe
# Test binaries
src/test_*
src/tests/Benchmark32
src/tests/TestHarness32
# Output programs
*.out
# Compiled binaries
bin/*
backup
tmp/
*.lps
*.compiled